body {
    margin: 0;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    padding: 10px 50px 10px 50px;
}

#cabecalho img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    cursor: pointer;

}

#cabecalho h1 {


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-decoration: underline overline;
    cursor: pointer;
    color: #ffffff;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;

}

.pesquisa input {
    height: 100%;
    width: 500px;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}



.titulo-card p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 140px;

}

.card-grupo {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
}

.card-pet {
    width: 300px;
    height: 420px;
    border-radius: 34px;
    background-size: cover;
    transition-duration: 0.2s;
    transition-delay: 0.2s;

}

.card-pet:hover {
    box-shadow: 17px 11px 45px -2px gray;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.card-pet p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: rgb(248, 248, 248);
    margin-left: 20px;
    padding-top: 300px;


}

.grupo-membros {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 442px;
    width: 100%;
    background-color: black;
    padding: 50px;

}

.card-membros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: aliceblue;
    border-radius: 85px;
}

.card-direito {
    height: 269px;
    width: 404px;
    background-image: url('./imagens/Gatinho.se.lembendo.jpg');
    background-size: cover;
    border-radius: 50px;
}

.card-esquerdo {
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}

.botao-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77px;
    width: 378px;
    color: #ffffff;
    background-color: black;
    border-radius: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;

}

.card-conterni {
    height: 1280;
    margin-top: 148px;
    display: flex;
    justify-content: center;
    margin: 184px 60px 5px 60px;
    padding: 50px;

}

.card-cachorro2 {
    text-align: center;
    width: 40%;
}

.card-cachorro2 img {
    height: 800px;
    width: 700px;
    border-radius: 20px;

}

.card-texto {
    margin: 0px;
    font-size: 24px;
    width: 50%;
    margin-left: 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.card-texto h2 {
    font-size: 31px;
    font-weight: bold;
    margin-block-start: 1px;
}

.card-texto h3,
.card-texto p {
    font-size: 28px;
    color: #5c5c5c;
}

.rodape {
    background-color: black;
    height: 637px;
    width: 100%;
}

.rodape-titu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 50px 0px;
}

.rodape-titu h2 {
    padding: 50px 0px 50px 0px;
    font-size: 35px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao-assinar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 58px;
    width: 230px;
    color: #ffffff;
    background-color: #EBC154;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    user-select: none;
    margin-left: 10px;

}

.rodape-menu{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.rodape-pesq {
    display: flex;
    justify-content: center;
    align-items: center;

}

.rodape-pesq input {
    height: 50px;
    width: 384px;
    background-color: black;
    border-radius: 10px;
    color: #ffffff;
    padding-left: 20px;
    font-size: 24px;
    outline: none;


}

.linha {
    width: 100%;
    border-bottom: 1px solid #ffffff;
    margin: 1px 0px 1px 0px;

}

.text-acima {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.grupo-itens{
    margin-right: 50px;
}

.grupo-selec{
    color: #EBC154;
}


.grupo-itens ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 0px;

}

.grupo-itens li {
    margin-left: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grupo-logo {
    margin-left: 30px;

}

.grupo-logo p {
    margin-block-end: 3px;
}

.rodape-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px ;
}

.icone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    background-color: #EBC154;
    border-radius: 100%;
    fill: #ffffff;
    margin: 25px;
    cursor: pointer;

}

.icone svg{
    height: 50px;
    width: 50px;

}

/* ____________________________________________________ */
/* login pet shop */

.pagina{
    display: flex;
}

.bem-vindo{
    background-image: url(./imagens/pug.jpg);
    background-size: cover;
    height: 832px;
    width: 40%;
}

.bem-vindo h1{
    text-align: center;
    margin: 100px;
}

.logar{
    height:832px ;
    width: 60%;
}

.text-logar{
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 90px ;
}

.opcaes-login {
    

}

.opcoes-login {
    height: 52px;
    width: 100px;
    width: 379px;
    border-radius: 50px;
    border: solid 1px #000000;
}
