body {
    margin: 0;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    padding: 10px 50px 10px 50px;
}

#cabecalho img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    cursor: pointer;

}

#cabecalho h1 {


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#cabecalho p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-decoration: underline overline;
    cursor: pointer;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;

}

.pesquisa input {
    height: 100%;
    width: 500px;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}



.titulo-card p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 140px;

}

.card-grupo {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
}

.card-pet {
    width: 300px;
    height: 420px;
    border-radius: 34px;
    background-size: cover;
    transition-duration: 0.2s;
    transition-delay: 0.2s;

}

.card-pet:hover {
    box-shadow: 17px 11px 45px -2px gray;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.card-pet p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: rgb(248, 248, 248);
    margin-left: 20px;
    padding-top: 300px;


}

.grupo-membros {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 442px;
    width: 100%;
    background-color: black;
    padding: 50px;

}

.card-membros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: aliceblue;
    border-radius: 85px;
}

.card-direito {
    height: 269px;
    width: 404px;
    background-image: url('./imagens/Gatinho.se.lembendo.jpg');
    background-size: cover;
    border-radius: 50px;
}

.card-esquerdo {
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}

.botao-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77px;
    width: 378px;
    color: #ffffff;
    background-color: black;
    border-radius: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-conterni {
    height: 1280;
    margin-top: 148px;
    display: flex;
    justify-content: center;
    margin: 184px 60px 0px 60px;

}

.card-cachorro2 {

    width: 40%;
}

.card-cachorro2 img{
    height: 614px;
    width: 80%;
    border-radius: 20px;
}

.card-texto {
    margin: 0px;
    font-size: 24px;
    width: 50%;
    margin-left: 50;

}

.card-texto h3, p{
    color: #5c5c5c;
}