@font-face {
    font-family: 'super-mercado';
    src: url('./Fontes/LobsterTwo-Regular.ttf');
}


.lista {

    border-radius: 15px;
    height: 800px;
     margin-left: 38%;
     margin-right: 38%;
     background-color: rgb(250, 208, 184); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}


#campo{
    height: 20px;
    width: 100%;
}

.color h2{
    font-family: 'super-mercado';
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    font-size: 25px;
    color: rgb(170, 0, 0); 
}

.color input {
     display: flex;
    justify-content: center;
}

.color {
    background-color: rgb(247, 231, 210);
     width: 300px; 
    height: 600px;
    border-radius: 15px;
    margin: 0px;
    padding: 0px 20px 0px 20px;
}
#cesto {
    width: 120px;
    height: 120px;
     margin: -20px;
     position: relative;
}

.pai-campo{
    display: flex;
    
}


#linha li {
    margin-top: 10px;
    list-style: none;
}

#linha button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#linha button:hover{
    
    border-radius: 10%;
    border: 1px solid #000000;
}


