body{
.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    height: 300px;
    width: 300px;
    margin: 500px;
}   

.lista button, input {

    text-align: center;
    
}



}
